body{
    background-color: rgb(211, 202, 202);
}

nav {
    background-color: rgb(211, 202, 202);
    padding: 0;
}

.navbar a{
    display: inline;
    color: navy;
}

h2{
    color: darkblue;
    margin: 20px 0px;
}

.background {
    background-color: whitesmoke;
    size: 500 px
}

/* table {
    width: 100%;
    height: 100%;
  } */

tr:nth-child(even) {
    background-color: whitesmoke;
}

