body{
    background-color: rgb(211, 202, 202);
}

nav {
    background-color: rgb(211, 202, 202);
    padding: 0;
}

.navbar a{
    display: inline;
    color: navy;
}

h2{
    color: darkblue;
    margin: 20px 0px;
}

.background {
    background-color: whitesmoke;
    size: 500 px
}

/* table {
    width: 100%;
    height: 100%;
  } */

tr:nth-child(even) {
    background-color: whitesmoke;
}

<<<<<<< HEAD
=======
th { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }

div{
    align-items: "center";
    padding: auto;
}
>>>>>>> 26881e84b908b0c1a93d2c57aa2187f3994b9197
