<!DOCTYPE html>
<html lang="en">


<!-- to create the home page -->

<head>
    <!-- encoding -->
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- boot strap -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css style sheet (must be after style sheet)-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js" integrity="sha512-wNH6xsp2n8CfB91nrBtfc4sfLwYPBMjSWVUwQOp60AYYXH6i8yCwuKFZ4rgK2i6pQek/b+bSyR7b01/922IBzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<!-- home page -->

<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Title of Project -->
            <a class="navbar-brand" href="#">NFL Fantasy Statistics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Nav Bar Links -->
                    <li class="nav-item">
                        <!-- Home Page Link -->
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Analysis
                        </a>
                        <!-- Nav Bar Dropdown -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('player') }}">Player Analysis</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('team') }}">Team Analysis</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('position') }}">Position Page</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <!-- Data Page Link -->
                        <a class="nav-link" href="{{ url_for('data') }}">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Paragraph Explaining Website and NFL Logo -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="content">
                    <!-- Paragraph -->
                    <h2>NFL statistics</h2>
                    <p>On this site, you can navigate to three different analysis pages that will include statistics for
                        players, teams, and positions. On the player analysis page you will be able to compare all player
                        statistics. You may also narrow the player statistics by position. On the team analysis page, you 
                        can find a chart including each team's accumulated fantasy points. The position analysis page will 
                        allow you to look through total fantasy point distribution for each team by position and then by player. 
                        A full set of statistics can be found on the data tab.
                    </p>

                </div>
            </div>
            <div class="col-md-4">
                <div id="content">
                    National Football League Logo
                    <div id="content">
                        <a href="/api/nfl" target="blank" href="https://i0.wp.com/sportytell.com/wp-content/uploads/2020/11/NFL-Team-Logos.jpg?fit=1300%2C675&ssl=1"><img class="thumbnail"
                                src="https://i0.wp.com/sportytell.com/wp-content/uploads/2020/11/NFL-Team-Logos.jpg?fit=1300%2C675&ssl=1" width="400" height="200" ></a>
                    </div>
            </div>
        </div>
    </div>

    <!-- Title for the Top Players by Position Tables -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div id="content">
                    <h2 style="text-align: center;">Top Player for each Position</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Players by Position Tables -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- QB Table -->
                <div id="content">
                    Quarterback - Tom Brady
                    <a href="https://www.pro-football-reference.com/players/B/BradTo00.htm" target="blank" href="https://bucswire.usatoday.com/wp-content/uploads/sites/50/2022/01/1365003353.jpg?w=1000&h=600&crop=1"><img class="thumbnail"
                            src="https://bucswire.usatoday.com/wp-content/uploads/sites/50/2022/01/1365003353.jpg?w=1000&h=600&crop=1g" width="400" height="200" alt="QB"></a>
                </div>
            </div>

            <div class="col-md-3">
                <!-- RB Table -->
                <div id="content">
                    Running Back - Jonathan Taylor
                    <a href="https://www.pro-football-reference.com/players/T/TaylJo02.htm" target="blank" href="https://coltswire.usatoday.com/wp-content/uploads/sites/49/2021/11/USATSI_17169561.jpg?w=1000&h=600&crop=1"><img class="thumbnail"
                            src="https://coltswire.usatoday.com/wp-content/uploads/sites/49/2021/11/USATSI_17169561.jpg?w=1000&h=600&crop=1" width="400" height="200" alt="RB"></a>
                </div>
            </div>

            <div class="col-md-3">
                <!-- WR Table -->
                <div id="content">
                    Wide Receiver - Cooper Kupp
                    <a href="https://www.pro-football-reference.com/players/K/KuppCo00.htm" target="blank" href="https://sportshub.cbsistatic.com/i/r/2022/02/14/cf75dcef-e9fe-4783-a17c-767bcc4378f3/thumbnail/1200x675/5d2e1686b2a9318ca5acf6f77271145d/kupp-2.png"><img class="thumbnail"
                            src="https://sportshub.cbsistatic.com/i/r/2022/02/14/cf75dcef-e9fe-4783-a17c-767bcc4378f3/thumbnail/1200x675/5d2e1686b2a9318ca5acf6f77271145d/kupp-2.png" width="400" height="200" alt="WR"></a>
                </div>
            </div>

            <div class="col-md-3">
                <!-- TE Table -->
                <div id="content">
                    Tight End - Mark Andrews
                    <a href="https://www.pro-football-reference.com/players/A/AndrMa00.htm" target="blank" href="https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/ravens/merich0pidxvxvgzg4pt"><img class="thumbnail"
                            src="https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/ravens/merich0pidxvxvgzg4pt" width="400" height="200" alt="TE"></a>
                </div>
            </div>
        </div>
    </div>

    

    <div id='bar2'></div>
    <div id='bar3'></div>
    <div id="bar"></div>
    <div id="myDiv"></div>

    <script src="anime.min.js"></script>
    <script src=""/node_modules/animejs/lib/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/logic.js"></script>
    <script src="your_path/choreographer.min.js"></script>


</body>

</html>