<!DOCTYPE html>
<html lang="en">


 <!-- to create the home page -->
<head>
    <!-- encoding -->
    <meta charset = "UTF-8">
    <title>Player Analysis</title>
    <!-- boot strap -->
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css style sheet (must be after style sheet)-->
    <link rel= "stylesheet" href = "../static/css/styles.css">
    
</head>

 <!-- home page -->
 <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Title of Project -->
          <a class="navbar-brand" href="#">NFL Fantasy Statistics</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Nav Bar Links -->
              <li class="nav-item">
                  <!-- Home Page Link -->
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis
                </a>
                <!-- Nav Bar Dropdown -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ url_for('player') }}">Player Analysis</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('team') }}">Team Analysis</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('position') }}">Position Page</a></li>
                </ul>
              </li>
              <li class="nav-item">
                  <!-- Data Page Link -->
                <a class="nav-link" href="{{ url_for('data') }}">Data</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- Instructions to tell user to pick 2 players -->
    <div class = "container">
        <div class = "row align-items-center">
            <div class="col-md-12">
                <div id = "content">
                    <h2 style="text-align: center;">Pick two players to compare their satistics side by side</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Player Drop Downs -->
    <div class = "container">
        <div class="dropdown">
            <!-- List of players for dropdown 1 -->
            <div class="col-md-5">
                <div id = "content">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Player 1
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </div>
            </div>

            <!-- List of players for dropdown 2 -->
            <div class="col-md-5">
                <div id = "content">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Player 2
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Statistic Table for each Player chosen -->
    <div class = "container">
        <div class = "row">
            <!-- Stats Table for Player 1 -->
            <div class="col-md-6">
                <div id = "content">
                    <h2 style="text-align: center;">Player 1 statistics</h2>
                    <a target = "blank" href = "../assets/images/NFL_logo.jpg"><center><img id="floated"class="thumbnail" src="../assets/images/NFL_logo.jpg" width="400" 
                        height="200"alt="nfl stats intro "></center></a>
                </div>
            </div>

            <!-- Stats Table for Player 1 -->
            <div class="col-md-6">
                <div id = "content">
                    <h2 style="text-align: center;">Player 2 statistics</h2>
                    <a target = "blank" href = "../assets/images/NFL_logo.jpg"><center><img id="floated"class="thumbnail" src="../assets/images/NFL_logo.jpg" width="400" 
                        height="200"alt="nfl stats intro "></center></a>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>