<!DOCTYPE html>
<html lang="en">


<!-- to create the home page -->

<head>
  <!-- encoding -->
  <meta charset="UTF-8">
  <title>Team Analysis</title>
  <!-- boot strap -->
  <!-- <link rel="stylesheet" href="reset.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- css style sheet (must be after style sheet)-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<!-- home page -->

<body>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Title of Project -->
      <a class="navbar-brand" href="#">NFL Fantasy Statistics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Nav Bar Links -->
          <li class="nav-item">
            <!-- Home Page Link -->
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Analysis
            </a>
            <!-- Nav Bar Dropdown -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('player') }}">Player Analysis</a></li>
              <li><a class="dropdown-item" href="{{ url_for('team') }}">Team Analysis</a></li>
              <li><a class="dropdown-item" href="{{ url_for('position') }}">Position Page</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <!-- Data Page Link -->
            <a class="nav-link" href="{{ url_for('data') }}">Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class='tableauPlaceholder' id='viz1645321558310' style='position: relative'><object class='tableauViz'
        style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='teamtotal&#47;Sheet3' />
        <param name='tabs' value='no' />
        <param name='Width > 800) {
        vizElement.style.width = '1024px';
        vizElement.style.height = '795px';
      } else if (divElement.offsetWidth > 500) {
        vizElement.style.width = '1024px';
        vizElement.style.height = '795px';
      } else {
        vizElement.style.width = '100%';
        vizElement.style.height = '727px';
      }
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
  </div>
toolbar' value='yes' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' /></object></div>
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1645321558310');
      var vizElement = divElement.getElementsByTagName('object')[0];
      vizElement.style.width = '100%';
      vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</body>

</html>